<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691486973278-271ck39fu4m5cljpv0um4ohbt4itv7s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691486973278-271ck39fu4m5cljpv0um4ohbt4itv7s0</string>
	<key>API_KEY</key>
	<string>AIzaSyD-PVcSeCna3K3Dve9SEpkAu2fDni2wnKg</string>
	<key>GCM_SENDER_ID</key>
	<string>691486973278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JH.iCloset</string>
	<key>PROJECT_ID</key>
	<string>icloset-a4494</string>
	<key>STORAGE_BUCKET</key>
	<string>icloset-a4494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691486973278:ios:f1876cc743943562e203cf</string>
</dict>
</plist>